# Mark docs/ as documentation
docs/* linguist-documentation

# Don't include Jupyter Notebooks or assets/ in language stats
*.ipynb linguist-documentation=true
learning/** linguist-documentation=true
assets/** linguist-vendored
