# Mark docs/ as documentation, but not demos
docs/* linguist-documentation
learning/demos/* -linguist-documentation

# Don't include Jupyter Notebooks or assets/ in language stats
learning/notebooks/* liquist-vendored
learning/data/* linguist-vendored
assets/* linguist-vendored
