// Physical characteristics of natural bodies.
// Example with units:
// (
//     name: "Earth",
//     mass: 5.97237e24,  // kg
//     radius: 6371000.0,  // m
//     position: [149597870700.0, 0.0, 0.0],  // m (1 AU)
//     velocity: [0.0, 29780.0, 0.0],  // m/s
//     orbital_period: 31557600.0,  // s (365.256363004 days)
//     axial_tilt: 0.409526,  // radians (23.4392811 degrees)
//     rotation_period: 86164.09054,  // s (23.9344696 hours)
//     rotation_speed: 465.1,  // m/s at equator
//     gravitational_parameter: 3.986004418e14,  // m^3/s^2
//     schwarzschild_radius: 0.00887,  // m
//     surface_gravity: 9.80665,  // m/s^2
//     escape_velocity: 11186.0,  // m/s
// ),

(
    celestials: [
        (
            name: "Sun",
            mass: 1.9885e30,
            radius: 696340000.0,
            position: [0.0, 0.0, 0.0],
            velocity: [0.0, 0.0, 0.0],
            gravitational_parameter: 1.32712440042e20,
            schwarzschild_radius: 2953.4,
            surface_gravity: 274.0,
            escape_velocity: 617700.0,
        ),
        (
            name: "Earth",
            mass: 5.97237e24,
            radius: 6371000.0,
            position: [149597870700.0, 0.0, 0.0],
            velocity: [0.0, 29780.0, 0.0],
            orbital_period: 31557600.0,
            axial_tilt: 0.409526,
            rotation_period: 86164.09054,
            rotation_speed: 465.1,
            gravitational_parameter: 3.986004418e14,
            schwarzschild_radius: 0.00887,
            surface_gravity: 9.80665,
            escape_velocity: 11186.0,
        ),
        (
            name: "Moon",
            mass: 7.342e22,
            radius: 1737100.0,
            position: [149982270700.0, 0.0, 0.0],
            velocity: [0.0, 30802.0, 0.0],
            orbital_period: 2360591.5104,
            axial_tilt: 0.116764,
            rotation_period: 2360591.5104,
            rotation_speed: 4.6,
            gravitational_parameter: 4.9048695e12,
            schwarzschild_radius: 0.00001091,
            surface_gravity: 1.62,
            escape_velocity: 2375.0,
        ),
        (
            name: "Jupiter",
            mass: 1.8982e27,
            radius: 69911000.0,
            position: [778547200000.0, 0.0, 0.0],
            velocity: [0.0, 13070.0, 0.0],
            orbital_period: 374335584.0,
        ),
    ],
)
