// Constants.
// FIXME(phil): RON does not support inline comments :(
// (
//     relativistic_parameters: (
//         earth_geoid_potential: -62636856.0,  // m^2/s^2 (at sea level)
//         earth_rotational_frequency: 7.2921150e-5,  // rad/s
//         earth_gravitational_potential_at_infinity: 0.0,  // m^2/s^2 (reference)
//         moon_surface_gravitational_potential: -1.73e6,  // m^2/s^2 (approximate)
//         moon_rotational_frequency: 2.6617e-6,  // rad/s
//     ),
//     physical_constants: (
//         gravitational_constant: 6.67430e-11,  // m^3 kg^-1 s^-2
//         speed_of_light: 299792458.0,  // m/s
//         standard_gravity: 9.80665,  // m/s^2
//         julian_century: 36525.0 * 86400.0,  // s
//         lunar_distance: 384399000.0,  // m (average Earth-Moon distance)
//     ),
// )
(
    relativistic_parameters: (
        earth_geoid_potential: -62636856.0,
        earth_rotational_frequency: 7.2921150e-5,
        earth_gravitational_potential_at_infinity: 0.0,
        moon_surface_gravitational_potential: -1.73e6,
        moon_rotational_frequency: 2.6617e-6,
    ),
    physical_constants: (
        gravitational_constant: 6.67430e-11,
        speed_of_light: 299792458.0,
        standard_gravity: 9.80665,
        julian_century: 36525.0 * 86400.0,
        lunar_distance: 384399000.0,
    ),
)
