[data-md-color-scheme="slate"][data-md-color-primary="black"] {
    --better-hue: 111;
    --md-default-bg-color: hsla(var(--better-hue), 15%, 0%, 1);
    --md-primary-fg-color: hsla(var(--md-hue), 15%, 9%, 1);
    --md-primary-fg-color--light: hsla(var(--md-hue), 15%, 9%, 0.54);
    --md-primary-fg-color--dark: hsla(var(--md-hue), 15%, 9%, 1);
    --md-primary-bg-color: hsla(var(--md-hue), 15%, 100%, 1);
    --md-primary-bg-color--light: hsla(var(--md-hue), 15%, 100%, 0.7);

    /* // Typeset `a` color shades */
    --md-typeset-a-color: var(--md-accent-fg-color);
  }
