// Simulation settings.
(
    // Scale factors allow the simulation to produce realistic results in
    // non-real measurement scales. All calculations are self-consistent with
    // the real-scale units. Scale factors only affect visualizations.
    scale_factors: (
        // All spatial units of measure are multiplied by this scalar.
        space: 0.0001,
        // Number of simulation seconds that occur per system second.
        time: 1000.0,
    )
    physical_constants: (
        // Universal gravitational constant, G, as m^3 kg^-1 s^-2
        gravitational_constant: 6.67430e-11,
        // Speed of light, c, as m s^-1
        speed_of_light: 299792458.0,
        // 100 Julian years as seconds. A Julian year is exactly 365.25 days of
        // 86400 seconds each. This constant is useful for counting centuries in
        // time scales that have leap seconds or leap days.
        julian_century: 36525.0 * 86400.0,
    ),
    // Physical characteristics of natural bodies.
    celestials: [
        // Units:
        //     mass:            kilograms
        //     radius:          meters (average)
        //     rotation_period: seconds
        //     gravitational_parameter: m^3/s^2
        //     escape_velocity: m/s
        // ),
        (
            name: "Sun",
            mass: 1.9885e30,
            radius: 696340000.0,
            rotation_period: 0.0,
            gravitational_parameter: 1.32712440042e20,
            surface_gravity: 274.0,
            escape_velocity: 617700.0,
        ),
        (
            name: "Earth",
            mass: 5.97237e24,
            radius: 6371000.0,
            rotation_period: 86164.09054,
            gravitational_parameter: 3.986004418e14,
            surface_gravity: 9.80665,
            escape_velocity: 11186.0,
        ),
        (
            name: "Moon",
            mass: 7.342e22,
            radius: 1737100.0,
            rotation_period: 2360591.5104,
            gravitational_parameter: 4.9048695e12,
            escape_velocity: 2375.0,
        ),
        (
            name: "Jupiter",
            mass: 1.8982e27,
            radius: 69911000.0,
        ),
    ],
    // Characteristics of artificial satellites.
    satellites: [
        // Units:
        //    mass: total mass, as kilograms
        //    dimensions: size of bounding box, as meters (x,y,z)
        //    orbiting: the body the orbit is defined around [Earth, Moon]
        //    semi_major_axis: meters
        //    eccentricity: number between [0.0,1.0]
        //    inclination: radians from the ecliptic
        //    clock_type: on-board clock type [USO, CSAC, TCXO]
        //    clock_frequency: tick frequency of the on-board clock, as Hz
        //    clock_stability:  Allan deviation at 1 second (or -1 for unknown)
        (
            name: "International Space Station (ISS)",
            mass: 419725.0,
            dimensions: [72.8, 108.5, 27.5],
            orbiting: "Earth",
            semi_major_axis: 6785000.0,
            eccentricity: 0.0008,
            inclination: 0.9012,
            clock_type: "USO",
            clock_frequency: 10e6,
            clock_stability: 1e-12,
        ),
        (
            name: "GPS IIIA-6",
            mass: 2161.0,
            dimensions: [2.55, 2.24, 4.62],
            orbiting: "Earth",
            semi_major_axis: 26559800.0,
            eccentricity: 0.0,
            inclination: 0.9599,
            clock_type: "USO",
            clock_frequency: 10.23e6,
            clock_stability: -1.0,
        ),
        (
            name: "GPS IIR-10",
            mass: 2032.0,
            dimensions: [2.44, 2.03, 5.18],
            orbiting: "Earth",
            semi_major_axis: 26559800.0,
            eccentricity: 0.0,
            inclination: 0.9599,
            clock_type: "USO",
            clock_frequency: 10.23e6,
            clock_stability: -1.0,
        ),
        (
            name: "GPS IIF-3",
            mass: 1630.0,
            dimensions: [2.4, 2.0, 4.5],
            orbiting: "Earth",
            semi_major_axis: 26559800.0,
            eccentricity: 0.0,
            inclination: 0.9599,
            clock_type: "USO",
            clock_frequency: 10.23e6,
            clock_stability: -1.0,
        ),
        (
            name: "GPS IIF-9",
            mass: 1630.0,
            dimensions: [2.4, 2.0, 4.5],
            orbiting: "Earth",
            semi_major_axis: 26559800.0,
            eccentricity: 0.0,
            inclination: 0.9599,
            clock_type: "USO",
            clock_frequency: 10.23e6,
            clock_stability: -1.0,
        ),
        (
            name: "Lunar Reconnaissance Orbiter",
            mass: 1916.0,
            dimensions: [3.6, 3.6, 4.4],
            orbiting: "Moon",
            semi_major_axis: 1789000.0,
            eccentricity: 0.0093,
            inclination: 1.5533,
            clock_type: "USO",
            clock_stability: 1e-13,
            clock_frequency: 40e6,
        ),
        (
            name: "LADEE",
            mass: 383.0,
            dimensions: [2.37, 2.37, 1.85],
            orbiting: "Moon",
            semi_major_axis: 1866200.0,
            eccentricity: 0.125,
            inclination: 1.57,
            clock_type: "USO",
            clock_frequency: 30e6,
            clock_stability: 1e-14,
        ),
        (
            name: "CAPSTONE",
            mass: 25.0,
            dimensions: [0.34, 0.34, 0.64],
            orbiting: "Moon",
            semi_major_axis: 16800000.0,
            eccentricity: 0.1,
            inclination: 1.1,
            clock_type: "TCXO",
            clock_frequency: 1e6,
            clock_stability: 1e-12,
        ),
        (
            name: "Chandrayaan-2 Orbiter",
            mass: 2379.0,
            dimensions: [3.2, 5.7, 2.1],
            semi_major_axis: 1800000.0,
            orbiting: "Moon",
            eccentricity: 0.014,
            inclination: 1.533,
            clock_type: "USO",
            clock_frequency: 38e6,
            clock_stability: 1e-13,
        ),
    ],
)
